
.rhs1{
  height: 100vh;
  position: relative;
  background: linear-gradient(
    145deg,
    rgba(140, 167, 255, 1) 0,
    rgba(139, 84, 249, 1) 50%,
    rgba(131, 33, 243, 1) 100%
  );
}

.preference1 {
  padding: 50% 10%;
  position: absolute;
  color: white;
  text-align: center;
  margin: auto;
}

.preference1 h1 {
  margin: 0px 0px 30px;
  font-size: 46px;
}

.preference1 p{
  font-size: 16px;
  margin: 0px 0px 30px;
  font-weight: 500;
}

.col-5,
.col-7 {
  padding: 0;
}

.signupbtn1 {
  width: 70%;
  border: none;
  padding: 15px;
  color: #2196F3;
  font-weight: bold;
  border-radius: 5px;
  background-color: white;
}

.signupbtn1:hover {
  background-color: rgba(255, 255, 255, 0.879);
}

.lhs1{
  position: relative;
  top: 20%;
  
}

.signinh1{
  margin-bottom: 50px;
  font-size: 3rem;
}

.content1{
  position: relative;
  margin: auto;
  width: 60%;
  padding: 5% auto;
}

.content1 h1{
  margin-left: 15%;
}

.icon1{
  float: left;
  height: 50px;
  width: 50px;
  font-size: 20px;
}


.form-control{
  border: 2px solid rgb(211, 141, 255);
  /* width: 380%; */
  /* margin-left: -10%; */
}

.field1{
  display: flex;
  margin: 4%;
}

.signinbtn1{
  width: 80%;
  border: none;
  padding: 15px;
  margin: 10px 0px 10px 40px;
  background-color: rgb(189, 104, 255);
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 5px;
  color: white;
  margin-left: 13%;
}

.signinbtn1:hover{
  background-color: rgb(157, 0, 255);
  color: white;
}

.span1{
  display: flex;
  justify-content: center;
}

.rememberbox{
  margin-left: 15%;
}

@media (max-width: 700px){
  
  .rhs1{
    display: none;
  }

  .temp{
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .content1{
    padding: 0;
    margin: 0;
    width: 100%;
  }

  /* .lhs{
    padding: 0px;
  } */

}